body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #4682B4 0%, #87CEEB 50%, #87CEEB 100%);
    background-attachment: fixed;
    padding: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #2c5aa0;
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.container nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container nav p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
}

main {
    flex: 1 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e5582;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #0f1082;  
}

p a {
    color: #0f7ed9;
    text-decoration: none;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px 0;   
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #0f7ed9;
    text-decoration: none;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 10px;
}