body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background: linear-gradient(to bottom, #87CEEB 0%, #87CEEB 50%, #4682B4 100%);
    background-attachment: fixed;
    padding: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.register-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 30px auto;
}  

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e5582;
}

.register-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #0f1082;  
}

.register-container a {
    display: block;
    text-align: center;
    color: #0f7ed9;
    text-decoration: none;
    margin: 20px auto;
}

.animal-selector {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 0;
}

.animal-option {
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
}

.animal-option:hover {
    border-color: #4CAF50;
    background-color: #f0f0f0;
}

.animal-option input[type="radio"] {
    display: none;
}

.animal-option input[type="radio"]:checked + label {
    border-color: #0e8111;
    background-color: #e8f5e9;
}

.animal-option label {
    cursor: pointer;
    font-size: 40px;
    display: block;
}

.animal-name {
    font-size: 14px;
    margin-top: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
        
button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.error {
    color: red;
    margin-bottom: 15px;
}

footer {
    background-color: #2c5aa0; 
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-top: auto; 
    font-size: 16px;
    color: white;
}

footer p {
    margin: 0;
}
